.navbar {
  width: 100%;
  height: 144px;
  padding: 0 48px;
  background-color: transparent !important;
  display: flex;
  position: fixed;
  top: 0;
}

.containerFluid{
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.redeem{
  margin-right: 48px;
}

@media only screen 
  and (max-width: 768px) { 
    .navbar {
      width: 100%;
      height: 144px;
      padding: 0;
      background-color: transparent !important;
      display: flex;
      position: fixed;
      top: 15px;
    }
}
.modal-container {
  margin-top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 500px;
  margin-top: 500px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 2rem;
  text-align: center;
}

.modal-content iframe {
  width: 100%;
  height: 80vh;
  border: none;
}

.modal-content button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}
/* .StaticContainer {
  position: absolute;
  top: 35%;
  left: 40%;
  height: 500px;
  width: 50%;
} */